<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>
    <!-- Header -->
    <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-blue-900 dark">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-blue-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <div class="z-10 relative flex flex-col items-center">
            <h2 class="text-xl font-semibold">Book an Appointment</h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                Find and Book Your Doctor
            </div>
            <div class="max-w-2xl mt-6 sm:text-2xl text-center tracking-tight text-secondary">
                Browse through our list of doctors and book an appointment at your convenience.
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto p-6 sm:p-10">
        <div class="flex flex-row flex-auto w-full mx-auto">
            <div class="w-90 shadow rounded-lg ml-4 mr-4 overflow-auto" style="max-height: 450px;">
                <div class="flex flex-col flex-auto h-full">
                    <div class="flex flex-col flex-auto shrink-0 pt-6 bg-card dark:bg-transparent rounded-3xl p-4">
                        <div class="text-xl font-bold tracking-tight leading-none">
                            Search Filter</div>
                        <hr class="w-full h-0.5 border-t mt-4 mb-4">
                        <!-- Search & Filters -->
                        <form class="flex flex-col items-start space-y-8 w-full max-w-xs sm:max-w-none">
                            <!-- Search -->
                            <mat-form-field class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0">
                                <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input (input)="filterByQuery(query.value)" placeholder="Search by name" matInput
                                    #query>
                            </mat-form-field>
                            <!-- Filters -->

                            <div class="flex flex-col space-y-4">
                                <div class="text-lg font-semibold tracking-tight leading-none">
                                    Gender</div>
                                <!-- Male -->
                                <mat-form-field class="fuse-mat-no-subscript sm:w-72">
                                    <mat-select multiple>
                                        <mat-option *ngFor="let gender of genders" [value]="gender"
                                            (click)="toggleGender(gender)">
                                            {{ gender | titlecase }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col space-y-4">
                                <div class="text-lg font-semibold tracking-tight leading-none -mt-2">
                                    Specialty</div>
                                <!-- Specialty -->
                                <mat-form-field class="fuse-mat-no-subscript sm:w-72">
                                    <mat-select multiple>
                                        <mat-option *ngFor="let specialty of specialties" [value]="specialty"
                                            (click)="toggleSpecialty(specialty)">
                                            {{ specialty | titlecase }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="flex items-center justify-end w-full">
                                <button type="button" (click)="resetFilters()" mat-button>Reset
                                </button>
                                <button class="ml-2" [color]="'primary'" type="button" (click)="applyFilters()"
                                    mat-flat-button>Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Doctors -->
            <div class="flex-auto ml-15 mr-15 overflow-auto">
                <ng-container *ngIf="filteredDoctors$ | async as doctors; else loading">
                    <div *ngFor="let doctor of doctors; trackBy: trackByFn">
                        <div class="flex flex-col justify-between bg-white shadow rounded-2xl p-6 mb-4">
                            <div class="flex items-center py-4 border-b">
                                <div
                                    class="flex items-center justify-center w-12 h-12 rounded-full overflow-hidden bg-gray-200 text-gray-600 text-lg">
                                    {{ doctor.firstname[0] }}{{ doctor.lastname[0] }}
                                </div>
                                <div class="min-w-0 ml-4 flex-auto">
                                    <div class="font-bold leading-5 truncate text-lg">
                                        Dr. {{ doctor.firstname }} {{ doctor.lastname }}
                                    </div>
                                    <div class="flex items-center text-secondary">
                                        <span class="text-sm">{{ doctor.specialty }}</span>
                                    </div>
                                </div>
                                <div class="flex items-center">
                                    <div class="flex items-center justify-end">
                                        <div>
                                            <mat-icon *ngFor="let star of [1, 2, 3, 4, 5]"
                                                class="text-orange-500 icon-size-5">
                                                {{ star <= doctor.rating ? 'star' : 'star_border' }} </mat-icon>
                                        </div>
                                        <span class="ml-2 text-sm text-secondary">({{ doctor.reviewCount }})</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-between mt-2">
                                <div>
                                    <div class="text-secondary">
                                        <mat-icon class="icon-size-4" matSuffix
                                        [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                                        <span class="my-1 mx-1">{{ doctor.workPhoneNumber }}</span>
                                    </div>
                                    <div class="mt-2 flex items-center">
                                        <span>
                                            <mat-icon class="icon-size-4" matSuffix
                                                [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                                            <span class="text-secondary mx-1">{{ doctor.address }}</span>
                                        </span>
                                    </div>
                                    <div class="mt-2 flex">
                                        <mat-icon class="icon-size-4" matSuffix
                                        [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                                        <span class="text-sm font-bold mx-1">{{ doctor.consultationPrice }} DT</span>
                                    </div>
                                </div>
                                <div class="flex flex-col items-end space-y-2 mt-10">
                                    <button class="px-4 py-2" mat-flat-button type="button" [color]="'primary'" [routerLink]="'/patient/appointment/book/' + doctor.id">Book
                                        Appointment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-template #loading>
                    <div class="flex justify-center items-center">
                        Loading...
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
