<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex-auto">

                <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-blue-900 dark">
                    <!-- Background - @formatter:off -->
                    <!-- Rings -->
                    <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
                        preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
                        <g class="text-blue-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                            <circle r="234" cx="196" cy="23"></circle>
                            <circle r="234" cx="790" cy="491"></circle>
                        </g>
                    </svg>
                    <!-- @formatter:on -->
                    <div class="z-10 relative flex flex-col items-center">
                        <h2 class="text-xl font-semibold">My Upcoming Appointments</h2>
                        <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                            Manage Your Upcoming Visits
                        </div>
                        <div class="max-w-2xl mt-6 sm:text-2xl text-center tracking-tight text-secondary">
                            View and manage your upcoming appointments. You can cancel them if needed.
                        </div>
                    </div>
                </div>

                <!-- Header -->
                <div class="relative flex flex-col sm:flex-row flex-auto justify-between py-8 px-6 md:px-8 border-b">

                    <!-- Title and Search Container -->
                    <div class="flex items-center justify-between w-full">
                        
                            <!-- Search -->
                            <div class="flex items-center mt-2">
                                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                                    <mat-icon class="icon-size-5" matPrefix
                                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                    <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                                        [placeholder]="'Search..'">
                                </mat-form-field>
                            </div>


                    </div>
                </div>

                <!-- Appointments list -->
                <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
                            <div> </div>
                            <div>Doctor's Name</div>
                            <div class="hidden md:block">Date & Time</div>
                            <div class="hidden lg:block">Email</div>
                            <div class="hidden lg:block">Work Phone Number</div>
                            <div class="hidden lg:block">Speciality</div>
                            <div class="hidden md:block">Appointment Status</div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="(appointments | async) as appointments">
                            <ng-container *ngIf="appointments.length > 0; else noAppointments">
                                <ng-container
                                    *ngFor="let appointment of appointments; let i = index; trackBy: trackByFn">
                                    <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                        <div> </div>
                                        <!-- Patient Name -->
                                        <div class="font-semibold">{{ appointment.doctor.firstname }} {{
                                            appointment.doctor.lastname }}
                                        </div>
                                        <!-- Date -->
                                        <div class="hidden md:block">{{ convertDateFormat(appointment.date) }}, {{
                                            formatTime(appointment.time) }}
                                        </div>
                                        <!-- Email -->
                                        <div class="hidden lg:block"> {{ appointment.doctor.email }} </div>
                                        <!-- Phone -->
                                        <div class="hidden lg:block">{{ appointment.doctor.workPhoneNumber }}</div>
                                        <!-- Gender -->
                                        <div class="hidden lg:block">
                                            <li class="relative flex py-7">
                                                <div class="py-0.5 px-3 rounded-full text-sm font-semibold">
                                                    {{ appointment.doctor.specialty }}
                                                </div>
                                            </li>
                                        </div>
                                        <!-- Appointment Status -->
                                        <div class="hidden md:block">
                                            <div class="w-full sm:col-span-2">
                                                <div class="flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer w-30 min-w-30"
                                                    [ngClass]="{
                                                    'text-red-800 bg-red-200 dark:text-red-100 dark:bg-red-500': appointment.appointmentStatus === 'CANCELLED',
                                                    'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': appointment.appointmentStatus === 'DONE',
                                                    'text-blue-800 bg-blue-200 dark:text-blue-100 dark:bg-blue-500': appointment.appointmentStatus === 'UPCOMING'
                                                }" [matMenuTriggerFor]="statusMenu">

                                                    <!-- Cancelled -->
                                                    <ng-container *ngIf="appointment.appointmentStatus === 'CANCELLED'">
                                                        <mat-icon class="icon-size-5 text-current"
                                                            [svgIcon]="'heroicons_solid:x-circle'"></mat-icon>
                                                        <span class="ml-2 mr-1 text-md font-medium">Cancelled</span>
                                                    </ng-container>

                                                    <!-- Upcoming -->
                                                    <ng-container *ngIf="appointment.appointmentStatus === 'UPCOMING'">
                                                        <mat-icon class="icon-size-5 text-current"
                                                            [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                                        <span class="ml-2 mr-1 text-md font-medium">Upcoming</span>
                                                    </ng-container>
                                                </div>
                                                <mat-menu #statusMenu="matMenu">
                                                    <!-- Cancelled -->
                                                    <button
                                                        [ngClass]="{'bg-hover': appointment.appointmentStatus === 'CANCELLED'}"
                                                        mat-menu-item (click)="setStatus(appointment, 'CANCELLED')">
                                                        <span
                                                            class="inline-flex items-center justify-between w-full min-w-30 leading-5">
                                                            <span class="font-medium">Cancelled</span>
                                                            <mat-icon
                                                                class="mr-0 icon-size-4 text-red-600 dark:text-red-500"
                                                                [svgIcon]="'heroicons_solid:x-circle'"></mat-icon>
                                                        </span>
                                                    </button>

                                                    <!-- Upcoming -->
                                                    <button
                                                        [ngClass]="{'bg-hover': appointment.appointmentStatus === 'UPCOMING'}"
                                                        mat-menu-item (click)="setStatus(appointment, 'UPCOMING')">
                                                        <span
                                                            class="inline-flex items-center justify-between w-full min-w-30 leading-5">
                                                            <span class="font-medium">Upcoming</span>
                                                            <mat-icon
                                                                class="mr-0 icon-size-4 text-blue-600 dark:text-blue-500"
                                                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                                        </span>
                                                    </button>
                                                </mat-menu>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>

                    <ng-template #noAppointments>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                            appointments!</div>
                    </ng-template>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>