<!-- Button -->
<button mat-icon-button [matMenuTriggerFor]="userActions">
    <span class="relative">
        <div class="circleUser">{{ initialisms }}</div>
        <span class="absolute right-0 bottom-0 w-2 h-2 rounded-full" [ngClass]="'mr-px mb-px bg-green-500'"></span>
    </span>
</button>

<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <ng-container *ngIf="(this.name !== undefined && this.lastname !== undefined)">
        <button mat-menu-item="" class="mat-focus-indicator mat-menu-item ng-tns-c54-3" role="menuitem" tabindex="0"
            aria-disabled="false"><span class="flex flex-col leading-none"><span>{{ 'USER.SIGNED_IN_AS' | translate
            }}</span><span class="mt-1.5 text-md font-medium"><strong>{{ name }} {{ lastname }}</strong></span></span>
            <div matripple="" class="mat-ripple mat-menu-ripple"></div>
        </button>
        <mat-divider role="separator" class="mat-divider my-2 mat-divider-horizontal ng-tns-c54-3"
            aria-orientation="horizontal"></mat-divider>
    </ng-container>
    <button mat-menu-item (click)="signOut()">
        <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
        <span>{{ 'USER.SIGN_OUT' | translate }}</span>
    </button>
</mat-menu>