<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-blue-900 text-on-primary">
        <div class="text-lg font-medium">Leave your Rate & Review here</div>
        <button mat-icon-button (click)="close()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <!-- Form -->
    <form [formGroup]="reviewForm" class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" (ngSubmit)="submitReview()">
        <div class="flex flex-wrap items-center">
            <div class="grid grid-cols-4 gap-3 w-full">
                <div class="sm:col-span-4">
                    <div class="text-xl font-medium tracking-tight leading-none">
                        Rate
                    </div>
                </div>
                <!-- Dynamic Star Rating -->
                <div class="sm:col-span-4">
                    <mat-icon class="icon-size-5 text-orange-500" *ngFor="let star of stars; let i = index" (click)="rate(i + 1)">
                        {{ star ? 'star' : 'star_border' }}
                    </mat-icon>
                </div>
            </div>
        </div>
        <!-- Review Textarea -->
        <div class="mt-4">
            <mat-form-field class="w-full">
                <mat-label class="text-xl font-medium tracking-tight leading-none">Write your review</mat-label>
                <textarea matInput formControlName="reviewText" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="10"></textarea>
            </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row sm:items-center justify-end mt-4 sm:mt-6">
            <div class="flex items-center mt-4 sm:mt-0">
                <!-- Discard -->
                <button class="ml-auto sm:ml-0" mat-stroked-button (click)="close()">
                    Discard
                </button>
                <!-- Send -->
                <button class="order-first sm:order-last sm:mx-3" mat-flat-button [color]="'primary'" type="submit" [disabled]="reviewForm.invalid">
                    Send
                </button>
            </div>
        </div>
    </form>
</div>
