<div class="flex flex-col flex-auto h-full bg-card dark:bg-default">
    <!-- Header -->
    <div class="flex flex-0 items-center h-18 px-4 border-b bg-gray-50 dark:bg-transparent">
        <button mat-icon-button (click)="drawer.close()">
            <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
        <div class="ml-2 text-lg font-medium">Contact info</div>
    </div>

    <div class="overflow-y-auto" *ngIf="recipient">
        <!-- Contact avatar & info -->
        <div class="flex flex-col items-center mt-8">
            <div class="w-40 h-40 rounded-full">
                <div class="flex items-center justify-center w-full h-full rounded-full text-8xl font-semibold uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                    {{ recipient.firstname?.charAt(0) }}{{ recipient.lastname?.charAt(0) }}
                </div>
            </div>
            <div class="mt-4 text-lg font-medium">{{ recipient.firstname }} {{ recipient.lastname }}</div>
        </div>

        <div class="py-10 px-7">
            <!-- Details -->
            <div class="mt-5 space-y-4">
                <div class="text-lg font-medium mb-3">Details</div>
                <div *ngIf="recipient?.email">
                    <div class="font-medium text-secondary">Email</div>
                    <div>{{ recipient?.email }}</div>
                </div>
                <div *ngIf="recipient?.phoneNumber">
                    <div class="font-medium text-secondary">Phone number</div>
                    <div>{{ recipient?.phoneNumber }}</div>
                </div>
                <div *ngIf="recipient?.role === 'ROLE_DOCTOR'">
                    <div *ngIf="recipient?.workPhoneNumber">
                        <div class="font-medium text-secondary">Work Phone Number</div>
                        <div>{{ recipient?.workPhoneNumber }}</div>
                    </div>
                </div>
                <div *ngIf="recipient?.role === 'ROLE_DOCTOR'">
                    <div *ngIf="recipient?.specialty">
                        <div class="font-medium text-secondary">Specialty</div>
                        <div>{{ recipient?.specialty }}</div>
                    </div>
                </div>
                <div *ngIf="recipient?.address">
                    <div class="font-medium text-secondary">Address</div>
                    <div>{{ recipient?.address }}</div>
                </div>
                <div *ngIf="recipient?.zipCode">
                    <div class="font-medium text-secondary">Zip Code</div>
                    <div>{{ recipient?.zipCode }} </div>
                </div>
                <div *ngIf="recipient?.role === 'ROLE_PATIENT'">
                        <div class="font-medium text-secondary">Date of Birth</div>
                        <div>{{ recipient?.dateOfBirth | date }}</div>
                    
                </div>                
            </div>
        </div>
    </div>
</div>
